In [1]:
import requests
import pandas as pd

In [2]:
response = requests.get("https://python.zach.lol/")

In [3]:
response

In [4]:
response.ok

True

In [5]:
response.status_code

200

In [6]:
response.text

'{"api":"/api/v1","help":"/documentation"}\n'

# Example JSON API

In [7]:
url = 'https://swapi.dev/api/people/1'
response = requests.get(url)
print(response.text)

{"name":"Luke Skywalker","height":"172","mass":"77","hair_color":"blond","skin_color":"fair","eye_color":"blue","birth_year":"19BBY","gender":"male","homeworld":"http://swapi.dev/api/planets/1/","films":["http://swapi.dev/api/films/1/","http://swapi.dev/api/films/2/","http://swapi.dev/api/films/3/","http://swapi.dev/api/films/6/"],"species":[],"vehicles":["http://swapi.dev/api/vehicles/14/","http://swapi.dev/api/vehicles/30/"],"starships":["http://swapi.dev/api/starships/12/","http://swapi.dev/api/starships/22/"],"created":"2014-12-09T13:50:51.644000Z","edited":"2014-12-20T21:17:56.891000Z","url":"http://swapi.dev/api/people/1/"}

# Exercises

In [ ]:
base_url = "https://python.zach.lol"

In [81]:
requests.get(base_url).json()

{'api': '/api/v1', 'help': '/documentation'}

In [85]:
print(requests.get(base_url + '/documentation').json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

# `items`

In [79]:
items_endpoint = '/api/v1/items?page='

items_pages = requests.get(base_url + items_endpoint)
max_page = items_response.json()['payload']['max_page']

In [71]:
items = pd.DataFrame()

for page in range(1, max_page+1):
    items_response = requests.get(base_url + items_endpoint + str(page))
    items = items.append(items_response.json()['payload']['items'])

In [77]:
items.shape

(50, 6)

In [86]:
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [78]:
items.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_brand  50 non-null     object
 1   item_id     50 non-null     int64
 2   item_name   50 non-null     object
 3   item_price  50 non-null     float64
 4   item_upc12  50 non-null     object
 5   item_upc14  50 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.7+ KB

# `stores`

In [90]:
stores_endpoint = '/api/v1/stores?page='

In [92]:
stores_pages = requests.get(base_url + stores_endpoint)
max_page = stores_pages.json()['payload']['max_page']

In [93]:
stores = pd.DataFrame()

In [102]:
for page in range(max_page):
    stores_response = requests.get(base_url + stores_endpoint)
    stores = stores.append(stores_response.json()['payload']['stores'])

In [104]:
stores.shape

(10, 5)

In [105]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   store_address  10 non-null     object
 1   store_city     10 non-null     object
 2   store_id       10 non-null     int64
 3   store_state    10 non-null     object
 4   store_zipcode  10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes

In [103]:
stores

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

# `sales`

In [117]:
sales_endpoint = '/api/v1/sales?='

sales_pages = requests.get(base_url + sales_endpoint)
max_page = sales_pages.json()['payload']['max_page']

In [118]:
sales = pd.DataFrame()

for page in range(1, max_page+1):
    sales_response = requests.get(base_url + sales_endpoint + str(page))
    sales = sales.append(sales_response.json()['payload']['sales'])

In [119]:
sales.shape

(915000, 5)

In [120]:
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

# Clean up